body {
  font-family: "Raleway";
  font-weight: 400;
  color: $color-grey;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  color: $color-red;
  transition: color ease-out .2s;

  &:hover {
    text-decoration: none;
    color: $color-lightRed;
  }
}

.video-wrapper,
.image-wrapper {
  position: relative;
  padding-bottom: 56.25%;

  iframe,
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  iframe {
    height: 100%;
    bottom: 0;
  }
}

.content {
  padding: $grid-gutter-width 0;
  display: none;

  .loaded & {
    display: block;
  }
}
