.loader {
  position: absolute;
  display: block;
  opacity: 1;
  top: 50%;
  left: 50%;
  margin-top: -$loader-size/2;
  margin-left: -$loader-size/2;
  width: $loader-size;
  height: $loader-size;
  border-radius: 50%;
  border: $loader-border-width solid transparent;
  //border-top-color: $color-red;
  z-index: $loader-zIndex;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  .loaded & {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: $loader-border-width solid transparent;
  }

  &::before {
    top: $loader-border-gutter;
    left: $loader-border-gutter;
    right: $loader-border-gutter;
    bottom: $loader-border-gutter;
    border-top-color: $color-lightGrey;

    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }

  &::after {
    top: $loader-border-gutter*2;
    left: $loader-border-gutter*2;
    right: $loader-border-gutter*2;
    bottom: $loader-border-gutter*2;
    border-top-color: $color-red;

    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
}
