.nav-bar {
  overflow: hidden;
  border-bottom: $nav-border;

  .title {
    float: left;
  }

  .menu {
    float: right;
    list-style: none;

    li {
      float: left;
      padding: 10px;
    }
  }
}
