<div>
  <div
    ng-if="movie"
    ng-class="{ open: movie }"
    class="movie-container">
    <h1 class="title" ng-bind-html="movie.title"></h1>
    <div class="video-container">
      <div class="video-element">
        <div class="loader"></div>
        <div class="video-wrapper">
          <custom-video
            class="video"
            source="movie.src">
          </custom-video>
        </div>
      </div>
    </div>
    <div class="description" ng-bind-html="movie.description"></div>
  </div>

  <ul class="movies-container">
    <li
      class="movie"
      ng-repeat="movie in movies">
      <a ui-sref="work({ movie: movie.id })" title="">
        <div class="image-wrapper">
          <custom-image
            class="image"
            source="movie.thumbnail_large"
            title="movie.title"
            >
          </custom-image>
          <div class="meta-wrapper">
            <div class="meta">
              <span class="title" ng-bind-html="movie.title"></span>
              <span class="description" ng-bind-html="movie.description"></span>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
