<div>
  <div class="movie-container">
    <div
      ng-class="{ open: movie }"
      class="video">
      <div class="video-wrapper">
        <iframe
          ng-if="movie"
          ng-src="{{ trustSrc(movie.src) }}"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen>
        </iframe>
      </div>
    </div>
    <div ng-if="movie" class="description">
      {{ movie.description }}
    </div>
  </div>

  <ul class="movies-container">
    <li
      class="movie"
      ng-repeat="movie in movies">
      <a ui-sref="work({ movie: movie.id })" title="">
        <div class="image-wrapper">
          <img ng-src="{{ movie.thumbnail_large }}" alt="">
          <span class="description">{{ movie.title }}</span>
        </div>
      </a>
    </li>
  </ul>
</div>
