.profile {
  @include respond-to(tablet) {
    overflow: hidden;
  }
  .image-wrapper {
    margin-bottom: $grid-gutter-width;
    padding-bottom: 50%;
    transition: all ease .3s;

    img {
      top: -90px;
    }

    @include respond-to(tablet) {
      float: left;
      width: 50%;
      margin-bottom: 0;
    }
  }
  .description {
    @include respond-to(tablet) {
      float: left;
      width: 50%;
      padding-right: $grid-gutter-width;
    }
  }
}
