.profile {
  @include respond-to(tablet) {
    overflow: hidden;
  }
  .image-wrapper {
    margin: $grid-gutter-width auto;
    width: 50%;
    padding-bottom: 50%;

    @include respond-to(tablet) {
      float: right;
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      content: '';
      top: 1px;
      bottom: 1px;
      left: 1px;
      right: 1px;
      border-radius: 50%;
      border: solid 1px transparent;
      border-bottom-color: $color-red;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
    }

    &:hover::after {
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
    }

    img {
      border-radius: 50%;
      transition: border ease .3s, opacity ease .3s;
    }

    &.loaded {
      &::after {
        -webkit-animation: none;
        animation: none;
      }

      img {
        opacity: 1;
      }
    }
  }
  .description {
    @include respond-to(tablet) {
      float: left;
      width: 50%;
      padding-right: $grid-gutter-width;
    }
  }
}
