.movie-container {
  .video {
    transition: max-height ease .2s;
    max-height: 0;
    overflow: hidden;

    &.open {
      max-height: 500px;
    }
  }

  .description {
    padding: $grid-gutter-width 0;
    border-bottom: dashed 1px $color-lightRed;
    margin-bottom: $grid-gutter-width;
  }
}

.movies-container {
  overflow: hidden;
  list-style: none;
  margin-top: 0;
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;
  margin-bottom: -$grid-gutter-width;
  padding: 0;

  .movie {
    width: 100%;

    @include respond-to(tablet) {
      float: left;
      width: 50%;
      padding: 0 $grid-gutter-width/2 $grid-gutter-width;
    }

    @include respond-to(web) {
      width: 100% * 1/3;
    }

    .description {
      transition: opacity ease .2s, background ease .2s;
      opacity: 0;
      background: transparent;
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 32px;
      line-height: 100%;
      color: $color-white;
    }

    &:hover {
      .description {
        background: rgba($color-red,0.5);
        opacity: 1;
      }
    }
  }
}
