// ------------------------------------
// BREAKPOINTS
// ------------------------------------
@mixin respond-to($device) {
  @if $device == mobile-only {
    @media (max-width: $grid-width-tablet) {
      @content;
    }
  }
  @else if $device == tablet {
    @media (min-width: $grid-width-tablet + 1) {
      @content;
    }
  } @else if $device == tablet-only {
    @media (min-width: $grid-width-tablet + 1) and (max-width: $grid-width-web) {
      @content;
    }
  } @else if $device == web {
    @media (min-width: $grid-width-web + 1) {
      @content;
    }
  } @else if $device == web-down {
    @media (max-width: $grid-width-web) {
      @content;
    }
  } @else if $device == big {
    @media (min-width: $grid-width-big) {
      @content;
    }
  }
}
// ------------------------------------
// CLEARFIX
// ------------------------------------
@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
// ------------------------------------
// CONTROL AMOUNT OF TEXT DISPLAYED
// ------------------------------------
@mixin text-overflow(
$fontSize,
$lineHeight,
$lines
) {
  font-size: $fontSize;
  line-height: $lineHeight;
  height: $lineHeight * $lines;
  overflow: hidden;

  @if $lines == 1 {
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    text-overflow: inherit;
    white-space: normal;
  }
}
